.a {
    /* color: #0d6efd; */
    text-decoration: none;
}
.main-btn{
text-decoration: none;
    border: 1px solid red;
    color: red;
    padding: 5px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(to right, red 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}